.bg-footer {
  background: #000;
  .logo {
    width: 150px;
    border-radius: 20px;
  }
  span {
    color: #fff;
    font-size: 12px;
  }
  h3 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
}
