<div class="bg-footer mt-6">
  <div class="grid p-2">
    <div class="col-3 flex flex-column align-items-center">
      <div>
        <div class="flex flex-row gap-2 mb-4">
          <img
            class="logo"
            src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fwing%20span%20(300%20x%20200%20px).svg?alt=media&token=050a34f8-99e4-4fdf-aaa8-f438b3bb3e8b"
          />
        </div>
        <div class="flex flex-column gap-3">
          <span>Điện thoại: 0918498961 </span>
          <span>Email: nt.dat2001dt@gmail.com </span>
          <span>GitHub: datntse150392 </span>
        </div>
      </div>
    </div>
    <div class="col-2 flex flex-column align-items-center">
      <div>
        <h3 class="mb-4">VỀ CHÚNG TÔI</h3>
        <div class="flex flex-column gap-3">
          <span>Giới thiệu</span>
          <span>Liên hệ</span>
          <span>Điều khoản</span>
          <span>Bảo mật</span>
          <span>Cơ hội việc làm</span>
        </div>
      </div>
    </div>
    <div class="col-2 flex flex-column align-items-center">
      <div>
        <h3 class="mb-4">DỰ ÁN</h3>
        <div class="flex flex-column gap-3">
          <span>Sinh viên FPT</span>
          <span>Hiểu 100% bài học</span>
          <span>Nhận SP các dự án SE</span>
        </div>
      </div>
    </div>
    <div class="col-2 flex flex-column align-items-center">
      <div>
        <h3 class="mb-4">TƯƠNG LAI</h3>
        <div class="flex flex-column gap-3">
          <span>Tiện lợi</span>
          <span>Hiệu quả</span>
          <span>Nhanh gọn</span>
        </div>
      </div>
    </div>
    <div class="col-2 flex flex-column align-items-center">
      <div>
        <h3 class="mb-4">ĐH FPT</h3>
        <div class="flex flex-column gap-3">
          <span>Thiết kế dựa trên F8</span>
          <span>Phục vụ như cầu học tập</span>
        </div>
      </div>
    </div>
    <div class="copyright w-full text-center">
      <p [ngStyle]="{ color: '#fff' }">
        &copy; 2023 Wingspan. Được phát triển bởi Nguyễn Thành Đạt
      </p>
    </div>
  </div>
</div>
