.new-feed {
  background-color: hsla(0, 0%, 94%, 0.8);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  // Position
  top: 85%;
}

.dialog-newfeed {
  img {
    border-radius: 10px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 14px;
    font-style: italic;
  }
}
