<div
  class="grid m-0 p-0"
  [ngStyle]="{ height: '100vh', 'overflow-y': 'hidden' }"
>
  <div
    class="col-4 flex flex-column align-items-center justify-content-center reponsive"
  >
    <div class="flex flex-row justify-content-center">
      <img
        [routerLink]="['/']"
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FHeader%20(1).svg?alt=media&token=f0b69058-62aa-4bfc-819a-6e9210bac5bb"
        [ngStyle]="{ height: '380px', width: '100%', cursor: 'pointer' }"
      />
    </div>

    <p-divider align="center">
      <div class="inline-flex align-items-center">
        <b>Đăng nhập với Google</b>
      </div>
    </p-divider>

    <div class="w-full flex align-items-center justify-content-center">
      <asl-google-signin-button
        type="standard"
        size="large"
        shape="rectangular"
        theme="filled_blue"
      ></asl-google-signin-button>
    </div>
  </div>
  <div class="col-8 h-full p-0 bg-singin">
    <img
      [ngStyle]="{ height: '100%', width: '100%' }"
      src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Auth%2Fpexels-mo-eid-9829615.jpg?alt=media&token=38d46d44-58f3-4171-bfcb-6206d62c7768"
    />
  </div>
</div>
