<div class="flex flex-row justify-content-center">
  <img
    [routerLink]="['/']"
    src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fwing%20span%20(300%20x%20200%20px).svg?alt=media&token=050a34f8-99e4-4fdf-aaa8-f438b3bb3e8b"
    [ngStyle]="{ height: '220px', cursor: 'pointer' }"
  />
</div>

<p-divider align="center">
  <div class="inline-flex align-items-center">
    <b>Đăng nhập với Google</b>
  </div>
</p-divider>

<div class="w-full flex align-items-center justify-content-center">
  <asl-google-signin-button
    type="standard"
    size="large"
    shape="rectangular"
    theme="filled_blue"
  ></asl-google-signin-button>
</div>
