<div class="flex flex-row justify-content-center">
  <img
    [routerLink]="['/']"
    src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fsilhouette-solo-dribbble-03_v4.gif?alt=media&token=45485a0f-0e34-4ba4-99be-5d3d195a2590"
    [ngStyle]="{ height: '100px', cursor: 'pointer' }"
  />
</div>

<p-divider align="center">
  <div class="inline-flex align-items-center">
    <b>Đăng nhập với Google</b>
  </div>
</p-divider>

<div class="w-full flex align-items-center justify-content-center">
  <asl-google-signin-button
    type="standard"
    size="large"
  ></asl-google-signin-button>
</div>
