.btn-gg {
  background: #fff;
  color: #000;
}

img {
  height: auto; /* Allow the image to scale proportionally */
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  width: 450;
}

p {
  font-size: 15px;
}
/* Add this CSS in your component's style file or in a global style file */

/* For screens smaller than 600px (typical mobile devices) */
@media (max-width: 600px) {
  img {
    height: auto; /* Allow the image to scale proportionally */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    width: 450;
  }

  /* Add additional mobile-specific styling if needed */
  .flex {
    flex-direction: column; /* Adjust flex direction for better stacking */
  }
}
