/* Add this CSS in your component's style file or in a global style file */

/* For screens smaller than 600px (typical mobile devices) */
@media (max-width: 600px) {
  .bg-singin {
    display: none;
  }
  .reponsive {
    width: 100%;
    height: 100%;
  }
}
