<div class="flex flex-row p-2 ml-4 gap-2">
  <div
    routerLink="/"
    [ngClass]="{ active: isHomePage() }"
    class="flex flex-column align-items-center justify-content-around p-3 border-round-lg cursor-pointer hover:surface-400"
  >
    <a
      class="text-xs font-bold mb-0"
      [ngStyle]="{ 'text-decoration': 'none', color: '#000' }"
      >Trang chủ</a
    >
  </div>
  <div
    class="flex flex-column align-items-center justify-content-around p-3 border-round-lg cursor-pointer hover:surface-400"
  >
    <a
      class="text-xs font-bold mb-0"
      [ngStyle]="{ 'text-decoration': 'none', color: '#000' }"
      >Lộ trình</a
    >
  </div>
  <div
    class="flex flex-column align-items-center justify-content-around p-3 border-round-lg cursor-pointer hover:surface-400"
  >
    <a
      class="text-xs font-bold mb-0"
      [ngStyle]="{ 'text-decoration': 'none', color: '#000' }"
      >Bài viết</a
    >
  </div>
  <div
    class="flex flex-column align-items-center justify-content-around p-3 border-round-lg cursor-pointer hover:surface-400"
  >
    <a
      class="text-xs font-bold mb-0"
      [ngStyle]="{ 'text-decoration': 'none', color: '#000' }"
      >Chuyên ngành
    </a>
  </div>
</div>
