<div class="bg-footer mt-6">
  <div class="grid p-2 custom-footer-item">
    <div
      class="col-3 flex flex-column align-items-center custom-footer-container"
    >
      <div>
        <div class="flex flex-row gap-2 mb-4">
          <img
            class="logo"
            src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FFooter.svg?alt=media&token=9b2f01ac-e374-400e-abe5-e6a054b09214"
          />
        </div>
        <div class="flex flex-column gap-3">
          <span>Điện thoại: 0918498961 </span>
          <span>Email: nt.dat2001dt@gmail.com </span>
          <span>GitHub: datntse150392 </span>
        </div>
      </div>
    </div>
    <div
      class="col-2 flex flex-column align-items-center custom-footer-container"
    >
      <div>
        <h3 class="mb-4">VỀ CHÚNG TÔI</h3>
        <div class="flex flex-column gap-3">
          <span>Giới thiệu</span>
          <span>Liên hệ</span>
          <span>Điều khoản</span>
          <span>Bảo mật</span>
          <span>Cơ hội việc làm</span>
        </div>
      </div>
    </div>
    <div
      class="col-2 flex flex-column align-items-center custom-footer-container"
    >
      <div>
        <h3 class="mb-4">VỀ DỰ ÁN</h3>
        <div class="flex flex-column gap-3">
          <span>Hỗ trợ SV</span>
          <span>Vừa học && vừa làm</span>
          <span>Nhận SP các dự án SE</span>
        </div>
      </div>
    </div>
    <div
      class="col-2 flex flex-column align-items-center custom-footer-container"
    >
      <div>
        <h3 class="mb-4">VỀ TƯƠNG LAI</h3>
        <div class="flex flex-column gap-3">
          <span>Tiện lợi</span>
          <span>Hiệu quả</span>
          <span>Nhanh gọn</span>
        </div>
      </div>
    </div>
    <div
      class="col-2 flex flex-column align-items-center custom-footer-container"
    >
      <div>
        <h3 class="mb-4">LIÊN HỆ MÌNH QUA</h3>
        <div class="flex flex-row">
          <a href="">
            <img src="../../../assets/images/icons/icons8-facebook-48.png" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/icons8-instagram-48.png" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/icons8-linkedin-48.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="copyright w-full text-center custom-footer-bottom">
      <p [ngStyle]="{ color: '#fff', 'font-size': '12px' }">
        &copy; 2023 Wingspan. Được phát triển bởi Nguyễn Thành Đạt
      </p>
    </div>
  </div>
</div>
