<div class="grid p-4">
  <div class="col-1">
    <div
      class="flex flex-column align-items-center justify-content-between p-3 border-round-lg cursor-pointer hover:surface-400"
    >
      <i class="pi pi-home" style="font-size: 1.3rem"></i>
      <p class="text-xs font-bold mb-0">Trang chủ</p>
    </div>
    <div
      class="flex flex-column align-items-center justify-content-between p-3 border-round-lg cursor-pointer hover:surface-400"
    >
      <i class="pi pi-calendar" style="font-size: 1.3rem"></i>
      <p class="text-xs font-bold mb-0">Lộ trình</p>
    </div>
    <div
      class="flex flex-column align-items-center justify-content-between p-3 border-round-lg cursor-pointer hover:surface-400"
    >
      <i class="pi pi-list" style="font-size: 1.3rem"></i>
      <p class="text-xs font-bold mb-0">Bài viết</p>
    </div>
  </div>
  <div class="col-11">
    <p-carousel
      [value]="products"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [showIndicators]="false"
    >
      <ng-template let-product pTemplate="item">
        <div
          style="
            background: linear-gradient(
              to right,
              rgb(118, 18, 255),
              rgb(5, 178, 255)
            );
            border-radius: 15px;
          "
          class="grid p-4 m-0"
        >
          <div class="col-8 flex flex-column justify-content-center">
            <h1 class="text-white">{{ product.title }}</h1>
            <p class="text-white">{{ product.subTitle }}</p>
            <p-button class="text-white border-round-lg">{{
              product.buttonDes
            }}</p-button>
          </div>
          <div class="col-4">
            <img src="{{ product.rightImg }}" />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
