<div *ngIf="inRoom" class="grid m-0 p-0 room-item">
  <!-- Sidebar -->
  <div class="col-3 p-4 h-full flex flex-column align-items-center">
    <!-- Logo -->
    <div class="flex flex-column align-items-center romm-sidebar-logo">
      <div
        [ngStyle]="{
      cursor: 'pointer',
    }"
        [routerLink]="['/']"
        class="logo mb-2"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FFooter%20(1).svg?alt=media&token=79d7c3e1-51e1-4896-b76d-82a0a7cbc276"
        />
      </div>
    </div>
    <!-- Another Room -->
    <div class="flex flex-column align-items-center room-sidebar-content">
      <ng-container class="chat-room-container" *ngFor="let room of chatRoom">
        <div
          class="w-full flex flex-row gap-1 mt-1 mb-1 align-items-center another-chat-room"
          [routerLink]="['/chatRoom', room._id]"
          [ngStyle]="{
            cursor: 'pointer',
          }"
        >
          <img
            width="70"
            height="70"
            src="https://img.icons8.com/bubbles/70/chat.png"
            alt="chat"
          />
          <div>
            <h4 class="m-0">{{ room.name }}</h4>
            <div class="flex flex-row gap-1 align-items-center">
              <i
                style="font-size: 0.5rem"
                class="pi pi-circle-fill"
                style="color: green; size: 8px"
              ></i>
              <span>Đang hoạt động</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Box Chat Detail -->
  <div class="col-9 p-4 room-chat">
    <!-- Title -->
    <div class="pb-3 flex flex-row justify-content-between align-items-center">
      <div>
        <h2 class="m-0">Phòng Chuyên Ngành {{ roomId }}</h2>
        <div class="flex flex-row gap-2 align-items-center">
          <i class="pi pi-circle-fill" style="color: green"></i>
          <span>Đang hoạt động</span>
        </div>
      </div>
      <div>
        <p-avatar
          image="{{ configLocal.userInfo.profileImage }}"
          size="normal"
          shape="circle"
          [ngStyle]="{
            cursor: 'pointer',
            fontSize: '13px',
            fontWeight: 'bold'
          }"
        ></p-avatar>
      </div>
    </div>

    <!-- Detail -->
    <div class="room-box-chat flex flex-column">
      <div class="flex gap-2 rom-box-detail">
        <div
          class="p-2 flex flex-column gap-2 room-box-container"
          #chatContainer
        >
          <ng-container *ngFor="let mes of messagesHistory">
            <ng-container *ngIf="mes.user._id === userId; else everyone">
              <div
                class="flex flex-row justify-content-end"
                [ngStyle]="{ 'padding-left': '80%' }"
              >
                <!-- Message -->
                <p class="m-0 chat-box-person-right">
                  {{ mes.message }}
                </p>
              </div>
            </ng-container>
            <ng-template #everyone>
              <div class="flex flex-row gap-2">
                <p-avatar
                  image="{{ mes.user.profileImage }}"
                  size="normal"
                  shape="circle"
                ></p-avatar>
                <div class="flex flex-column">
                  <!-- Message -->
                  <div class="flex flex-column">
                    <p class="m-0 chat-box-person">
                      {{ mes.message }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Input Form -->

    <div class="rom-box-input w-full p-2 flex relative">
      <ng-container *ngIf="isTyping">
        <span class="absolute" [ngStyle]="{ top: '-25%' }"
          >Có người đang soạn tin nhắn</span
        >
      </ng-container>
      <input
        [disabled]="configLocal.userInfo.is_comment_blocked || false"
        (keyup.enter)="sendMessage()"
        [(ngModel)]="newMessage"
        (input)="typingMessage()"
        pInputText
        type="text"
        class="p-inputtext-sm w-full"
        placeholder="Aa"
      />
    </div>
  </div>
</div>
