$white-color: #fff;
$light-gray-color: #ccc;
$chat-background: rgba(128, 128, 128, 0.206);
$sidebar-background: $white-color;
$chat-box-background: $white-color;
$font-small: 12px;
$border-radius-general: 5px;

.room-item {
  height: 100vh;
  background: $chat-background;

  .room-sidebar {
    background: $sidebar-background;

    .logo {
      display: flex;
      justify-content: center;

      img {
        width: 10rem;
      }
    }
  }

  .room-box-chat {
    height: 95%;
    // background: $chat-box-background;
    border: 1px solid $white-color;
    border-radius: $border-radius-general;

    .rom-box-input {
      bottom: 0;
    }

    .rom-box-detail {
      width: 100%;
      height: 100%;

      p {
        font-size: $font-small;
      }

      .room-box-container {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
      }

      .chat-box-person {
        width: auto;
        background: $light-gray-color;
        border: 1px solid $light-gray-color;
        border-radius: $border-radius-general;
      }
    }
  }
}

.room-chat {
  height: 100%;
}
