$white-color: #fff;
$dark-background-color: #1c1e21;
$light-gray-color: #ccc;
$chat-background: rgba(128, 128, 128, 0.206);
$sidebar-background: $white-color;
$chat-box-background: $white-color;
$font-small: 12px;
$border-radius-general: 18px;
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.room-item {
  height: 100vh;
  overflow-y: hidden; /* Hide vertical scrollbar */
  background: $dark-background-color;

  .romm-sidebar-logo {
    .logo {
      display: flex;
      justify-content: center;
      img {
        width: 8rem;
      }
      p {
        color: #e4e6eb;
      }
    }
  }
  .room-sidebar-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    background: $dark-background-color;
    .another-chat-room {
      h4 {
        color: #e4e6eb;
        font-size: 14px;
      }
      span {
        color: #b0b3b8;
        font-size: 12px;
      }
    }
  }

  .room-chat {
    border-left: 1px solid #3f41427e;
    height: 100% !important;
    h2 {
      color: #e4e6eb;
    }
    span {
      color: #b0b3b8;
    }

    .room-box-chat {
      height: 85%;
      .rom-box-input {
        bottom: 0;
      }

      .rom-box-detail {
        width: 100%;
        height: 95%;
        p {
          font-size: $font-small;
        }

        .room-box-container {
          overflow-y: scroll;
          width: 100%;
          height: 100%;
          .title {
            color: #b0b3b8;
          }
        }

        .chat-box-person {
          width: auto;
          background: #303030;
          color: #ffffff;
          border-radius: $border-radius-general;
          font-size: 14px;
          padding: 8px 12px;
        }
        .chat-box-person-right {
          width: auto;
          background: #0099ff;
          color: #ffffff;
          border-radius: $border-radius-general;
          font-size: 14px;
          padding: 8px 12px;
        }
      }
    }
  }
}
