.room-item {
  height: 100vh;
  background: rgba(128, 128, 128, 0.206);
  .room-sidebar {
    background: #fff;
    .logo {
      display: flex;
      justify-content: center;
      img {
        width: 10rem;
      }
    }
  }
  .room-box-chat {
    height: 95%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    .rom-box-input {
      bottom: 0;
    }
    .rom-box-detail {
      width: 100%;
      height: 100%;
      p {
        font-size: 12px;
      }
      .room-box-container {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
      }
      .chat-box-person {
        width: auto;
        background: #ccc;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
}
.room-chat {
  height: 100%;
}
