<div *ngIf="inRoom">
  <div class="grid room-item">
    <!-- Sidebar -->
    <div class="col-2 p-4 room-sidebar">
      <!-- Logo -->
      <div [routerLink]="['/']" class="logo">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FThi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn.svg?alt=media&token=e1e5cb09-f411-400d-bbdf-720f7eee1a70"
        />
      </div>
      <h3>Phòng Chuyên Ngành 1</h3>
      <p-divider></p-divider>
      <!-- Menu -->
      <div></div>
    </div>
    <!-- Box Chat Detail -->
    <div class="col-10 p-6 room-chat">
      <div class="room-box-chat flex flex-column">
        <div class="p-3 flex gap-2 rom-box-detail">
          <div class="p-6 flex flex-column room-box-container">
            <ng-container *ngFor="let mes of messagesHistory">
              <ng-container *ngIf="mes.user._id === userId; else everyone">
                <div
                  class="flex flex-row gap-2 justify-content-end"
                  [ngStyle]="{ 'padding-left': '80%' }"
                >
                  <!-- Message -->
                  <p class="p-2 mb-0 chat-box-person">
                    {{ mes.message }}
                  </p>
                </div>
              </ng-container>
              <ng-template #everyone>
                <div class="flex flex-row gap-2">
                  <p-avatar
                    image="{{ mes.user.profileImage }}"
                    size="large"
                    shape="circle"
                  ></p-avatar>
                  <div class="flex flex-column">
                    <p>{{ mes.user.fullName }}</p>
                    <!-- Message -->
                    <div class="flex flex-column gap-2">
                      <p class="m-0 p-2 chat-box-person">
                        {{ mes.message }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </div>
        </div>
        <div class="pt-3 rom-box-input w-full">
          <input
            (keyup.enter)="sendMessage()"
            [(ngModel)]="newMessage"
            pInputText
            type="text"
            class="p-inputtext-sm w-full"
            placeholder="Aa"
          />
        </div>
      </div>
    </div>
  </div>
</div>
