.custom-profile-item {
  padding: 0 10%;
  .custom-profile-header-container {
    background-image: url("https://fullstack.edu.vn/static/media/cover-profile.3fb9fed576da4b28386a.png");
    width: 100%;
    height: 270px;
    border-radius: 10px;
    .custom-profile-content {
      position: absolute;
      top: 27%;
      left: 5%;
    }
  }
}
.info {
  border: 1px solid #4b4b4b7a;
  border-radius: 10px;
  p {
    font-size: 12px;
    margin: 0;
  }
  h5 {
    margin: 0;
  }
}
