<div class="custom-profile-item relative">
  <!-- Header Profile -->
  <div class="custom-profile-header-container">
    <!-- Btn edit Image Backgournd -->
  </div>
  <!-- Body Profile -->
  <div class="grid mt-4 p-4">
    <!-- Intro -->
    <div class="col-5">
      <div class="card">
        <div class="info p-4">
          <h5>{{ this.configLocal.userInfo.fullName }}</h5>
          <div class="flex flex-row align-items-center gap-2 mt-3">
            <i class="pi pi-users" style="font-size: 1rem"></i>
            <p>
              Thành viên của <strong>WingSpan</strong> từ ngày
              {{ this.configLocal.userInfo.createAt | date : "dd/MM/yyyy " }}
            </p>
          </div>
        </div>
        <div class="info p-4 mt-4">
          <h5>Hoạt động gần đây</h5>
          <div class="flex flex-row align-items-center gap-2 mt-3">
            <p>Chưa có hoạt động nào gần đây</p>
          </div>
        </div>
      </div>
    </div>
    <!-- List Course -->
    <div class="col-7">
      <div class="info p-4">
        <h5>Các khóa học đã tham gia</h5>
        <div class="mt-3" *ngFor="let course of courses; index as i">
          <div class="flex flex-row gap-4">
            <img
              [ngStyle]="{ cursor: 'pointer' }"
              [routerLink]="['/detail', course._id]"
              class="border-round-2xl w-12rem"
              alt="Card"
              src="{{ course.image }}"
            />
            <div class="flex flex-column gap-2">
              <h5>{{ course.title }}</h5>
              <p>{{ course.titleDescription }}</p>
            </div>
          </div>
          <p-divider *ngIf="courses?.length !== i + 1"></p-divider>
        </div>
      </div>
    </div>
  </div>
</div>
