<div class="flex flex-row justify-content-center">
  <img
    [routerLink]="['/']"
    src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fsilhouette-solo-dribbble-03_v4.gif?alt=media&token=45485a0f-0e34-4ba4-99be-5d3d195a2590"
    [ngStyle]="{ height: '100px', cursor: 'pointer' }"
  />
</div>
<form [formGroup]="signUpForm">
  <div class="flex flex-column">
    <h2 class="text-center">Đăng Ký</h2>
    <div>
      <p class="m-0 mb-2">Email</p>
      <input formControlName="email" class="w-full" pInputText />
    </div>
    <span
      *ngIf="signUpForm.invalid; else valid"
      class="mb-4 mt-2"
      [ngStyle]="{ fontSize: '8px', color: 'red' }"
      >Email có dạng: ...@gmail.com</span
    >
    <ng-template #valid
      ><span class="mb-4 mt-2" [ngStyle]="{ fontSize: '8px' }"
        >Email có dạng: ...@gmail.com</span
      ></ng-template
    >
    <div>
      <p class="m-0 mb-2">Tên tài khoản</p>
      <input required formControlName="username" class="w-full" pInputText />
    </div>
    <span
      *ngIf="signUpForm.invalid; else validUsername"
      class="mb-4 mt-2"
      [ngStyle]="{ fontSize: '8px', color: 'red' }"
      >Tên tài khoản có tối thiếu 6 ký tự</span
    >
    <ng-template #validUsername
      ><span class="mb-4 mt-2" [ngStyle]="{ fontSize: '8px' }"
        >Tên tài khoản có tối thiếu 6 ký tự</span
      ></ng-template
    >
    <div class="w-full">
      <p class="m-0 mb-2">Mật khẩu</p>
      <p-password
        formControlName="password"
        required
        [toggleMask]="true"
      ></p-password>
    </div>
    <span
      *ngIf="signUpForm.invalid; else validPassword"
      class="mb-4 mt-2"
      [ngStyle]="{ fontSize: '8px', color: 'red' }"
      >Mật khẩu có tối thiếu 6 ký tự</span
    >
    <ng-template #validPassword
      ><span class="mb-4 mt-2" [ngStyle]="{ fontSize: '8px' }"
        >Mật khẩu có tối thiếu 6 ký tự</span
      ></ng-template
    >
  </div>
  <div>
    <button
      [disabled]="signUpForm.invalid"
      type="button"
      (click)="register()"
      pButton
      pRipple
      label="Đăng ký ngay"
      class="p-button-success mt-3 w-full"
    ></button>
    <div class="flex flex-row justify-content-between">
      <p
        [routerLink]="['/auth/login']"
        [ngStyle]="{ fontSize: '12px', cursor: 'pointer' }"
      >
        Đăng nhập ngay
      </p>
      <p [ngStyle]="{ fontSize: '12px' }">Quên mật khẩu?</p>
    </div>
  </div>
</form>
