<div class="flex align-items-center justify-content-between ml-4 mr-4">
  <div class="flex align-items-center justify-content-between">
    <p-avatar image="../../../assets/images/logo1.png" size="xlarge"></p-avatar>
  </div>
  <div class="flex align-items-center justify-content-start gap-3">
    <button pButton pRipple label="Đăng nhập" class="p-button-success"></button>
    <p-button
      label="Đăng kí"
      icon="pi pi-user"
      badgeClass="p-badge-danger"
    ></p-button>
  </div>
</div>
