<div class="flex align-items-center justify-content-between mr-3 ml-3 h-full">
  <div class="flex align-items-center justify-content-between">
    <p-avatar
      [ngStyle]="{ cursor: 'pointer' }"
      [routerLink]="['/']"
      image="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fsilhouette-solo-dribbble-03_v4.gif?alt=media&token=45485a0f-0e34-4ba4-99be-5d3d195a2590"
      size="xlarge"
    ></p-avatar>
    <h3>WingSpan</h3>
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex align-items-center justify-content-start gap-3">
    <ng-container *ngIf="configLocal.userInfo.username; else isFailLogin">
      <div class="p-2">
        <p
          (click)="menu.toggle($event)"
          [ngStyle]="{
            cursor: 'pointer',
            fontSize: '13px',
            fontWeight: 'bold'
          }"
        >
          {{ user.fullName }}
        </p>

        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </div>
    </ng-container>
    <ng-template #isFailLogin>
      <button
        [routerLink]="['/auth/login/']"
        pButton
        pRipple
        label="Đăng nhập"
        class="p-button-success btn-auth"
        icon="pi pi-user"
      ></button>
      <button
        [routerLink]="['/auth/register/']"
        pButton
        pRipple
        label="Đăng ký"
        class="p-button-danger btn-auth"
        icon="pi pi-user-plus"
      ></button>
    </ng-template>
  </div>
</div>
