<div class="flex align-items-center justify-content-between p-2 h-full">
  <div class="flex align-items-center justify-content-between">
    <p-avatar
      [ngStyle]="{ cursor: 'pointer' }"
      [routerLink]="['/']"
      image="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2Fsilhouette-solo-dribbble-03_v4.gif?alt=media&token=45485a0f-0e34-4ba4-99be-5d3d195a2590"
      size="xlarge"
    ></p-avatar>
    <h3>WingSpan</h3>
  </div>
  <div>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText />
    </span>
  </div>
  <div class="flex align-items-center justify-content-start gap-3">
    <button
      pButton
      pRipple
      label="Đăng nhập"
      class="p-button-success btn-auth"
      icon="pi pi-user"
    ></button>
    <p-button
      class="btn-auth"
      label="Đăng kí"
      icon="pi pi-user-plus"
      badgeClass="p-badge-danger"
    ></p-button>
  </div>
</div>
