.blog-item {
  height: 100vh;
  .blog-container {
    h2 {
      color: #242424;
      font-size: 28px;
      font-weight: 900;
    }
    span {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
