<div class="custom-course-leanring-item-main">
  <!-- Header Learning -->
  <app-header></app-header>
  <!-- Content Learning -->
  <div class="grid">
    <div class="col-8 pl-3">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4">
      <app-course-learning-sidebar></app-course-learning-sidebar>
    </div>
  </div>
  <!-- Footer Learning -->
  <app-footer></app-footer>
</div>

<div class="custom-course-leanring-item-sub-main">
  <!-- Header Learning -->
  <app-header></app-header>
  <!-- Content Learning -->
  <div>
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Footer Learning -->
  <app-footer></app-footer>
</div>
