/* Adjust the size of the login button */
.btn-auth.p-button-success {
  font-size: 12px; /* Adjust the font size */
  padding: 8px 12px; /* Adjust the padding */
}

/* Adjust the size of the register button */
.btn-auth.p-button-danger {
  font-size: 12px; /* Adjust the font size */
  padding: 8px 12px; /* Adjust the padding */
  background: #fff;
  border: none;
  color: #000;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.sub-header {
  display: none;
}

.img-item {
  border-radius: 10px;
}
/* Add this CSS in your component's style file or in a global style file */

/* For screens smaller than 600px (typical mobile devices) */
@media (max-width: 600px) {
  div.main-header {
    display: none !important; /* Use !important to ensure higher specificity */
    p {
      cursor: pointer;
      font-size: 15px;
      font-weight: "bold";
    }
  }
  .logo {
    height: auto; /* Allow the image to scale proportionally */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
  }

  .sub-header {
    display: block;
  }

  /* Add additional mobile-specific styling if needed */
  .flex {
    flex-direction: row; /* Adjust flex direction for better stacking */
  }

  .badge-infomation {
    top: -10%;
    right: -30%;
  }
}
