<div
  class="flex align-items-center justify-content-between pl-4 pt-2 h-full w-full main-header"
>
  <div class="flex w-full align-items-center justify-content-start">
    <img
      class="logo"
      [routerLink]="['/']"
      src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FLOGO.svg?alt=media&token=5d2b1aff-a83e-4001-8e53-cb236b423fa9"
    />
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex align-items-center justify-content-start">
    <ng-container *ngIf="this.user; else isFailLogin">
      <div
        class="card flex justify-content-center align-items-center relative gap-4"
      >
        <i
          (click)="op.toggle($event)"
          class="pi pi-shopping-cart p-text-secondary"
          pBadge
          value="{{
            this.configLocal.cartItems?.count
              ? this.configLocal.cartItems?.count
              : 0
          }}"
          style="font-size: 1.5rem"
          severity="danger"
          [ngStyle]="{ cursor: 'pointer' }"
        ></i>
        <p-avatar
          image="{{ user.profileImage }}"
          size="normal"
          shape="circle"
          (click)="menu.toggle($event)"
          [ngStyle]="{
            cursor: 'pointer',
            fontSize: '13px',
            fontWeight: 'bold'
          }"
        ></p-avatar>
        <p-overlayPanel #op>
          <ng-template pTemplate="content">
            <ng-container
              *ngIf="
                this.configLocal.cartItems &&
                  this.configLocal.cartItems.items.length > 0;
                else emptyCart
              "
            >
              <div
                *ngFor="let item of configLocal.cartItems.items"
                class="mb-3"
              >
                <div class="flex flex-row gap-2">
                  <img
                    class="img-item"
                    width="200"
                    height="100"
                    src="{{ item.image }}"
                    alt="shopping-cart--v1"
                  />
                  <div>
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.amount | currency : "VND" }}</p>
                  </div>
                </div>
              </div>
              <div class="w-full flex flex-row justify-content-center">
                <button
                  [routerLink]="['myCart']"
                  pButton
                  pRipple
                  label="Thanh toán ngay"
                  class="p-button-danger"
                ></button>
              </div>
            </ng-container>
            <ng-template #emptyCart>
              <p [ngStyle]="{ color: '#000' }">
                Giỏ hàng bạn trống, mời bạn chọn khóa học!
              </p>
            </ng-template>
          </ng-template>
        </p-overlayPanel>
      </div>
      <p-menu #menu [model]="items" [popup]="true"> </p-menu>
    </ng-container>
    <ng-template #isFailLogin>
      <button
        [routerLink]="['/auth/signIn/']"
        pButton
        pRipple
        label="Đăng nhập"
        class="p-button-success btn-auth mr-4"
        icon="pi pi-user"
        [ngStyle]="{ width: '120px' }"
      ></button>
    </ng-template>
  </div>
</div>

<div class="sub-header p-3">
  <p-sidebar [(visible)]="sidebarVisible">
    <div>
      <img
        class="logo"
        [routerLink]="['/']"
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Logo%2FThi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn.svg?alt=media&token=e1e5cb09-f411-400d-bbdf-720f7eee1a70"
      />
      <ng-container *ngIf="this.user; else loginForm">
        <p
          [ngStyle]="{
            cursor: 'pointer',
            fontSize: '15px',
            fontWeight: 'bold'
          }"
        >
          {{ user.fullName }}
        </p>
      </ng-container>
      <ng-template #loginForm>
        <div
          [routerLink]="['/auth/login/']"
          class="flex flex-row align-items-center"
        >
          <i class="pi pi-sign-in mr-3" style="font-size: 1rem"></i>
          <p>Đăng nhập</p>
        </div>
      </ng-template>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-column">
      <div class="flex flex-row align-items-center">
        <i class="pi pi-shopping-cart mr-3" style="font-size: 1rem"></i>
        <p>Xem giỏ hàng</p>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-column">
      <div class="flex flex-row align-items-center">
        <i class="pi pi-user mr-3" style="font-size: 1rem"></i>
        <p [routerLink]="['/profile']">Trang cá nhân</p>
      </div>
      <div class="flex flex-row align-items-center">
        <i class="pi pi-list mr-3" style="font-size: 1rem"></i>
        <p>Khóa học của tôi</p>
      </div>
      <p-divider></p-divider>
      <div class="flex flex-row align-items-center">
        <i class="pi pi-home mr-3" style="font-size: 1rem"></i>
        <p [routerLink]="['/']">Trang chủ</p>
      </div>
      <div class="flex flex-row align-items-center">
        <i class="pi pi-map mr-3" style="font-size: 1rem"></i>
        <p>Lộ trình</p>
      </div>
      <div class="flex flex-row align-items-center">
        <i class="pi pi-file mr-3" style="font-size: 1rem"></i>
        <p>Bài viết</p>
      </div>
    </div>
    <p-divider></p-divider>
    <ng-container *ngIf="this.user">
      <div class="flex flex-row align-items-center">
        <i class="pi pi-sign-out mr-3" style="font-size: 1rem"></i>
        <p (click)="logout()">Đăng xuất</p>
      </div>
    </ng-container>
  </p-sidebar>
  <div class="flex flex-row justify-content-between mr-2">
    <button
      (click)="sidebarVisible = true"
      pButton
      pRipple
      icon="pi pi-align-justify"
      class="p-button-secondary"
    ></button>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText />
    </span>
    <div class="card flex justify-content-center align-items-center relative">
      <p-badge
        severity="danger"
        class="absolute badge-infomation"
        value="2"
      ></p-badge>
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/ios/50/bell.png"
        alt="bell"
      />
    </div>
  </div>
</div>

<p-dialog
  header="Kích hoạt khóa học"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-column gap-2">
    <label class="font-bold" for="username">Mã CODE</label>
    <form class="w-full" [formGroup]="activeForm">
      <input
        class="w-full"
        formControlName="code"
        pInputText
        id="username"
        aria-describedby="username-help"
      />
    </form>
    <small class="font-italic" id="username-help"
      >Mời bạn nhập mã <strong>CODE</strong> được cung cấp khi thanh toán tại hệ
      thống.</small
    >
  </div>
  <button
    (click)="activeCourse(activeForm.value.code)"
    pButton
    pRipple
    label="Kích hoạt ngay"
    class="p-button-secondary mt-4"
  ></button>
</p-dialog>
