.contact {
  li {
    font-size: 14px;
    margin: 10px 0px;
  }
}

.custome-leanring-lessons-container {
  padding-top: 20px;
}

.custome-course-leanring-sidebar-mobile-web {
  display: none !important;
}
/* Media query for screens 600px or smaller (typical mobile devices) */
@media (max-width: 600px) {
  .custome-course-leanring-sidebar-mobile-web {
    display: block !important;
  }
  .custome-leanring-lessons-container {
    padding: 0;
    margin-top: 15px;
    h2 {
      font-size: 18px;
    }
  }

  .custome-leanring-lessons-item {
    iframe {
      height: 400px;
    }
  }
}
