<div class="w-full flex align-items-center custome-leanring-lessons-item">
  <iframe
    width="100%"
    height="600"
    [src]="videoUrl"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
<div class="custome-course-leanring-sidebar-mobile-web">
  <app-course-learning-sidebar></app-course-learning-sidebar>
</div>
<div class="custome-leanring-lessons-container">
  <h2 class="m-0">{{ course && course.title }}</h2>
  <span [ngStyle]="{ fontSize: '10px' }">Cập nhật tháng 11 năm 2022</span>
  <p>
    Các vấn đề liên quan đến khóa học các bạn có thể liên hệ mình thông qua các
    thông tin sau
  </p>
  <ul class="contact">
    <li>
      Nguyễn Thành Đạt
      <a href="https://web.facebook.com/ngdat2001"
        >https://web.facebook.com/ngdat2001</a
      >
    </li>
    <li>
      GitHub
      <a href="https://github.com/datntse150392"
        >https://github.com/datntse150392</a
      >
    </li>
  </ul>
</div>
<div class="flex">
  <span class="text-center w-full p-4" [ngStyle]="{ 'font-size': '12px' }"
    >Đây làm một dự án cá nhân tìm hiểu về Angular - Giao diện được thiết kế dựa
    trên F8 <i class="pi pi-heart" style="font-size: 1rem; color: red"></i
  ></span>
</div>
